#header {
    position: relative;
    background: url(../img/main_visual01.jpg);
    height: 800px;
}

#header .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    line-height: 150px;
    justify-content: space-between;
}

#header .container ul {
    display: flex;
    gap: 40px;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
}

#header .container i {
    color: #fff;
}

#header .slogan {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 60px;
    font-weight: 700;
}

#main .content {
    padding: 100px 0;
    margin: 0 auto;
    width: 1200px;
    text-align: center;
}

#main .content .textContent {
    margin: 0 0 100px 0;
}

#main .content .textContent h2 {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

#main .content .textContent p {
    color: #333;
    font-size: 15px;
    font-weight: 300;
}

#main .content .container {
    display: flex;
    gap: 183px;
}

#main .content .container div {
    flex: 1;
    border: 1px solid #333;
    border-radius: 50%;

}

/* #main .content .container .text::after {
    content: "\e9c5";
    font-size: 40px;
} */

#main .content .container .text h2::after {
    position: absolute;
    top: 200%;
    display: block;
    content: "";
    width: 150px;
    height: 1px;
    background: #333;
}

#main .content .container h2 {
    position: relative;
    font-size: 25px;
    font-weight: 500;
    margin: 60px;
}

#main .content .container p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 95px 0;
}

#main .mainProduct {
    padding: 100px 0;
    background: #f8f8f8;
}

.mainslider h2 {
    text-align: center;
    margin: 0 0 50px 0;
    font-size: 30px;
    font-weight: 700;
    color: #333;
}

.mainProduct .mainslider {
    position: relative;
}

.mainProduct .mainslider .slider {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.mainProduct .mainslider .slider figure {
    position: relative;
    height: 400px;

}

.mainProduct .mainslider .slider .item01 {
    background: url(../img/slide01.jpg) no-repeat center;
}

.mainProduct .mainslider .slider .item02 {
    background: url(../img/slide02.jpg) no-repeat center;
}

.mainProduct .mainslider .slider .item03 {
    background: url(../img/slide03.jpg) no-repeat center;
}

.mainProduct .mainslider .slider .inner {
    position: absolute;
    inset: 20% auto auto 75%;
    transform: translate(-50%, -50%);
    text-align: right;
    letter-spacing: -0.025em;
}

.mainProduct .mainslider .slider .inner h3 {
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    margin: 10px 0;
}

.mainProduct .mainslider .slider .inner p {
    font-size: 15px;
    font-weight: 300;
    width: 220px;
    color: #fff;

}

.mainProduct .mainslider .slider .slick-dots {
    text-align: center;
    padding: 20px 0 0 0;
}

.mainProduct .mainslider .slider .slick-dots li {
    display: inline-block;
    margin: 0 5px;
}

.mainProduct .mainslider .slider .slick-dots li button {
    border: none;
    outline: none;
    background: #999;
    width: 100px;
    height: 3px;
    font-size: 0;
}

.mainProduct .mainslider i {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    color: #333;
}

.mainProduct .mainslider i:nth-child(1) {
    margin: 0 0 0 -650px;
}

.mainProduct .mainslider i:nth-child(2) {
    margin: 0 0 0 650px;
}

/* 2022.06.23 */

.mainProject {
    padding: 100px 0;
    text-align: center;

}

.mainProject h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 50px 0;
    color: #333;
}

#main .mainProject .container {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

#main .mainProject .container .up {
    margin: 0 0 70px 0;
}

#main .mainProject .container .inbox {
    margin: 0 0 20px 0;
}


#main .mainProject .container h3 {
    font-size: 30px;
    font-weight: 300;
    color: #333;
    text-align: left;
    margin: 0 0 20px 0;
    letter-spacing: -0.025em;
}

#main .mainProject .container p {
    font-size: 15px;
    font-weight: 300;
    text-align: left;
    letter-spacing: -0.025em;
}

#main .mainValue {
    background: url(../img/main_visual02.jpg);
    height: 545px;
    padding: 100px 0;
}

#main .mainValue h2 {
    position: relative;
    font-size: 35px;
    font-weight: 500;
    color: #fff;
    margin: 0 0 100px 0;
}

#main .mainValue .container h2::after {
    position: absolute;
    top: 175%;
    content: "";
    display: block;
    width: 100px;
    height: 1px;
    background: #fff;
}

#main .mainValue .container {
    width: 1200px;
    margin: 0 auto;
}

#main .mainValue .container .box {
    display: flex;
    gap: 30px;
}

#main .mainValue .container .inner {
    flex: 1;
    border: 1px solid #fff;
    width: 380px;
    height: 170px;
    padding: 30px;
}

#main .mainValue .container .inner p {
    font-size: 17px;
    font-weight: 300;
    color: #fff;
}

#main .mainValue .container .inner a {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    width: 90px;
    line-height: 30px;
    background: #fff;
}

#footer {
    background: #333;
    height: 207px;
}