h1 {
    line-height: 100px;
    background: #f00;
}

nav {
    line-height: 100px;
    background: #00f;
}

.right {
    line-height: 100px;
    background: #ff0;
}


.header01 {
    display: flex;
}

.header02 {
    display: flex;
    justify-content: center;
}

.header03 {
    display: flex;
    justify-content: space-between;
}

.header04 {
    display: flex;
}

.header05 {
    display: flex;
}

.header05 nav {
    margin: 0 0 0 auto;
}

.baic {
    line-height: 100px;
}

.baic .container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.baic nav {
    margin: 0 0 0 auto;
}

.baic nav ul {
    display: flex;
    gap: 30px;
}

.baic .icon {
    margin: 0 0 0 30px;
}